<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{user.change.password}">Change User Password</title>
</head>
<body>
    <div layout:fragment="body">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <i class="fas fa-key"></i> 
                    <span th:text="#{user.change.password.for}">Change Password for</span> <span th:text="${account.username}">Username</span>
                </h5>
            </div>
            <div class="card-body">
                <form th:action="@{/accounts/{id}/change-password(id=${account.id})}" 
                      th:object="${adminChangePasswordDto}" 
                      method="post">
                    
                    <div class="alert alert-info">
                        <i class="fas fa-info-circle"></i> 
                        <span th:text="#{user.admin.change.password.info}">As an administrator, you can change the password without knowing the current password.</span>
                    </div>
                    
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">
                            <span th:text="#{form.label.new.password}">New Password</span> <span class="text-danger">*</span>
                        </label>
                        <input type="password" 
                               class="form-control" 
                               id="newPassword" 
                               th:field="*{newPassword}" 
                               th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid' : ''"
                               th:placeholder="#{form.placeholder.new.password}"
                               required>
                        <div th:if="${#fields.hasErrors('newPassword')}" class="invalid-feedback d-block">
                            <i class="fas fa-exclamation-circle"></i> <span th:errors="*{newPassword}">Error</span>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">
                            <span th:text="#{form.label.confirm.password}">Confirm New Password</span> <span class="text-danger">*</span>
                        </label>
                        <input type="password" 
                               class="form-control" 
                               id="confirmPassword" 
                               th:field="*{confirmPassword}" 
                               th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''"
                               th:placeholder="#{form.placeholder.confirm.password}"
                               required>
                        <div th:if="${#fields.hasErrors('confirmPassword')}" class="invalid-feedback d-block">
                            <i class="fas fa-exclamation-circle"></i> <span th:errors="*{confirmPassword}">Error</span>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-between mt-4">
                        <a th:href="@{/accounts/{id}(id=${account.id})}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> <span th:text="#{user.back.to.details}">Back to User Details</span>
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> <span th:text="#{user.change.password}">Change Password</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


